<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/creating-nodes/">ノードの開発</a></li>
            <li {% if page.url == "/docs/creating-nodes/first-node" %}class="active"{% endif %}><a href="/docs/creating-nodes/first-node">はじめてのノード開発</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-js" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-js">JavaScriptファイル</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-html" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-html">HTMLファイル</a></li>
            <li {% if page.url == "/docs/creating-nodes/context" %}class="active"{% endif %}><a href="/docs/creating-nodes/context">コンテキスト</a></li>
            <li {% if page.url == "/docs/creating-nodes/properties" %}class="active"{% endif %}><a href="/docs/creating-nodes/properties">プロパティ</a></li>
            <li {% if page.url == "/docs/creating-nodes/credentials" %}class="active"{% endif %}><a href="/docs/creating-nodes/credentials">クレデンシャル</a></li>
            <li {% if page.url == "/docs/creating-nodes/appearance" %}class="active"{% endif %}><a href="/docs/creating-nodes/appearance">外観</a></li>
            <li {% if page.url == "/docs/creating-nodes/status" %}class="active"{% endif %}><a href="/docs/creating-nodes/status">ステータス</a></li>
            <li {% if page.url == "/docs/creating-nodes/config-nodes" %}class="active"{% endif %}><a href="/docs/creating-nodes/config-nodes">設定ノード</a></li>
            <li {% if page.url == "/docs/creating-nodes/help-style-guide" %}class="active"{% endif %}><a href="/docs/creating-nodes/help-style-guide">ヘルプのスタイルガイド</a></li>
            <li {% if page.url == "/docs/creating-nodes/examples" %}class="active"{% endif %}><a href="/docs/creating-nodes/examples">例を追加</a></li>
            <li {% if page.url == "/docs/creating-nodes/packaging" %}class="active"{% endif %}><a href="/docs/creating-nodes/packaging">パッケージング</a></li>
            <li {% if page.url == "/docs/creating-nodes/i18n" %}class="active"{% endif %}><a href="/docs/creating-nodes/i18n">国際化</a></li>
        </ul>
    </li>
</ul>
<script>
    $(function() {
        var pageToc = $("<ul></ul>").appendTo(".toc li.active:not(.toctitle)");
        $(".docs-content h3,.docs-content h4").each(function() {
            $('<li id="toc-item-'+$(this).attr('id')+'"><a style="font-size: 0.9em; padding-left: 50px;" href="#'+$(this).attr('id')+'">'+$(this).text()+'</a></li>').appendTo(pageToc)
        })
    })
</script>
