<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader">
        <ul>
        <li {% if page.url == "/about/" %}class="active"{% endif %}><a href="/about/">概要</a></li>
        <li {% if page.url == "/about/releases" %}class="active"{% endif %}><a href="/about/releases/">リリース</a></li>
        <li {% if page.url == "/about/governance/" %}class="active"{% endif %}><a href="/about/governance/">ガバナンス</a></li>
        <li {% if page.url == "/about/conduct/" %}class="active"{% endif %}><a href="/about/conduct/">行動規範</a></li>
        <li {% if page.url == "/about/community/" %}class="active"{% endif %}><a href="/about/community/">コミュニティ</a></li>
        <li {% if page.url == "/about/contribute/" %}class="active"{% endif %}><a href="/about/contribute/">コントリビュート</a></li>
        <li {% if page.url == "/about/resources/" %}class="active"{% endif %}><a href="/about/resources/">リソース</a></li>
        </ul>
    </li>
</ul>
<script>
    $(function() {
        var pageToc = $("<ul></ul>").appendTo(".toc li.active:not(.toctitle)");
        $(".docs-content h3,.docs-content h4").each(function() {
            $('<li id="toc-item-'+$(this).attr('id')+'"><a style="font-size: 0.9em; padding-left: 60px;" href="#'+$(this).attr('id')+'">'+$(this).text()+'</a></li>').appendTo(pageToc)
        })
    })
</script>
